@page "/"
<PageTitle>Index</PageTitle>
<style>
    .form-container {
        max-width: 600px;
        margin: 50px auto;
        padding: 30px;
        border-radius: 15px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        background-color: #fff;
    }

    
    .form-container h3 {
        background-color: #1b6ec2;
        border-radius: 15px 15px 10px 10px;
        height: 80px;
        color: white;
        font-weight: bold;
        font-size: 27px;
    }

	.form-container .check-info{
        background-color: #5b9bd6;
        border: none;
        width: 100px;
        height: fit-content;
    }

    .form-info{
        padding: 30px;
    }

    .info-user{
        border-radius: 15px;
        background: #d1d1d1;
        margin: 20px 0;
        padding: 15px 10px;
    }

    .btn-submit{
        background-color: #70ad46;
        border: none;
        padding: 10px 15px;
    }
</style>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="form-container p-0 card">
                <form>
                    <h3 class="text-center d-flex align-items-center justify-content-center">KIỂM TRA KẾT THÚC MÔN HỌC LÝ THYẾT</h3>
                    <div class="form-info">
                        <div class="row">
                            <div class="col-9">
                                <div class="form-group">
                                    <label for="dropdown">Địa điểm:</label>
                                    <select class="form-control" id="dropdown">
                                        <option value="option1">Trường trung cấp nghề giao thông vận tải Quảng Trị</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="dropdown">Khóa học:</label>
                                    <select class="form-control" id="dropdown">
                                        <option value="option1">Tự luyện Ô Tô</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="message">Số báo dannh:</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="dropdown">Hạng GPLX:</label>
                                    <select class="form-control" id="dropdown">
                                        <option value="option1">Hạng B1, B11</option>
                                        <option value="option1">Hạng B2</option>
                                        <option value="option1">Hạng C</option>
                                        <option value="option1">Hạng D, E, F</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-3 d-flex justify-content-center align-items-center">
                                <button @onclick="CheckInformation" type="button" class="mt-2 btn btn-primary btn-block check-info">Kiểm tra thông tin</button>
                            </div>
                        </div>
                        <div class="form-group info-user">
                                <div>
                                    <label>Họ tên: Nguyễn Văn A</label>
                                </div>
                            <div class="row p-0 mt-2 ">
                                <div class="col-6">
                                    <label>Ngày sinh: 10/10/1999</label>
                                </div>
								<div class="col-6">
                                    <label>CCCD/CMT: 044202004603</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group d-flex align-items-center justify-content-center">
                            <button type="button" @onclick="HandleButtonClick" class="mt-2 btn btn-primary btn-block btn-submit">Vào kiểm tra</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@code {
    [Inject]
    private NavigationManager NavigationManager { get; set; }

    private void HandleButtonClick()
    {
        NavigationManager.NavigateTo("/vao_thi");
    }

    private void CheckInformation()
    {
    }

}
